*, *:before, *:after {
	-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
			box-sizing: border-box;
}

html { 
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
}

body {
	color: $col-standard;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	margin: 0;	
}

.container {
	margin: 0 auto;
	width: 96%;
	@include breakpoint(large) {
		max-width: 73.125em;
		margin: 0 auto;
		width: 100%;
	}
}

.row {
	overflow: hidden;
}


/* BASE ELEMENTS
------------------------------------------ */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $header-font-family;
	margin:1em 0 0.35em 0;
}

h1, .h1 {
	font-size: 2em;
}

h2, .h2 {
	font-size: 1.75em;
}

h3, .h3 {
	font-size: 1.5em;
}

h4, .h4 {
	font-size: 1.4em;
}

h5, .h5 {
	font-size: 1.3em;
}

h6, .h6 {
	font-size: 1.2em;
}

small {
	font-size: 0.85em;
}

ul li {
	list-style: none;
}

ol li {
	list-style: none;
}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

p {
	margin-bottom: 1em
}

img, object, embed {
	height: auto;
	max-width: 100%;
}	


/* LINKS
------------------------------------------ */

a {
	color: $col-link;
	cursor: pointer;
	text-decoration:none;
	outline: 0;
	&:visited {

	}
	&:hover {
		color: $col-link-hover;
	}
	&:active {
		
	}
	&:focus {
		
	}
	/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
	&:focus,
	&:active {
		outline: none;
	}
}


/* BUILD ELEMENTS
------------------------------------------ */

.hide {
	display: none;
}

.center-align {
	text-align: center;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

