input, select, textarea, button {
	font-family: inherit;
	font-size: inherit;
}

input, 
textarea {
	border-radius: 0.3em;
	margin: 0 0 1em;
	outline: none;
	padding: 0.7em;
	width: 100%;
}

input[type=submit] {
	background: $col-submit-btn-bg;
	border: none;
	color: $col-white;
	cursor: pointer;
	width: auto;
	&:hover {
		background: $col-submit-btn-bg-hover;
	}
}

input[type=checkbox] {
	border: none;
	background: red;
	width: auto;
}

label {
	/* display: block; */
}
	
