.content {
	padding: 3em 0;
	&__demo {
		background: red;
		color: white;
		padding: 1em;
	}
	&__megaheader {
		font-size: 3em;
		line-height: 1;
		margin-top: 0;
	}
	&__layout1-col1 {
		@include span(12 of 12 last);
		@include breakpoint(medium) {
			@include span(6 of 12);
		}
		@include breakpoint(large) {
			@include span(3 of 12);
		}
		img {
			margin-bottom: 1em;
		}
		li {
			margin-bottom: 1em;
		}
		strong {
			display: block;
			font-weight: $weight-black;
			font-size: 0.8em;
			letter-spacing: 0.05em;
			text-transform: uppercase;
		}
	}
	&__layout1-col2 {
		@include span(12 of 12);
		@include breakpoint(medium) {
			@include span(6 of 12 last);
		}
		@include breakpoint(large) {
			@include span(6 of 12);
		}
	}
	&__layout1-col3 {
		@include span(12 of 12);
		@include breakpoint(medium) {
			@include span(12 of 12);
		}
		@include breakpoint(large) {
			@include span(3 of 12 last);
		}
	}
	&__layout2-col1 {
		@include span(12 of 12 last);
		@include breakpoint(medium) {
			@include span(9 of 12);
		}
	}
	&__layout2-col2 {
		@include span(12 of 12);
		@include breakpoint(medium) {
			@include span(3 of 12 last);
		}
	}
	&__list-intro {
		border-bottom: 1px solid #E3E3E3;
		margin-bottom: 2em;
		padding-bottom: 1em;
	}
	&__list {
		clear: both;
		display: flex;
    	flex-flow: row wrap;
    	justify-content: space-between;
    	margin-left: 0;
		text-align: center;
		&--stacked {
			text-align: left;
			.content__list-li {
				border-bottom: 1px solid #E3E3E3;
				margin-bottom: 2em;
				padding: 0 0 2em;
				@include span(12 of 12);
				@include breakpoint(medium) {
					@include span(12 of 12);
				}
				@include breakpoint(large) {
					@include span(12 of 12);
				}
			}
			.content__list-view {
				float: right;
			}
			.content__list-title {
				margin-top: 0;
			}
		}
	}
	&__list-li {
		background: $col-white;
		border: 1px solid $col-content-li-border;
		border-radius: 0.3em;
		float: left;
		margin-bottom: 1em;
		padding: 2em 1em;
		width: 100%;
		@include breakpoint(medium) {
			width: 23%;
		}
		@include breakpoint(large) {
			
		}
	}
	&__list-title {
		font-size: 1.3em;
	}
	&__list-info-contain {
		float: left;
		@include breakpoint(medium) {
			max-width: 60%;
		}
	}
	&__list-avatar {
		border-radius: 50%;
		display: inline;
		margin-bottom: 1em;
		max-width: 80px;
	}
	&__list-view {
		border-radius: 0.3em;
		color: $col-content-li-view;
		display: inline-block;
		margin: 1em auto 0;
		text-decoration: underline;
		width: auto;
	}
	&__list-tag-ul {
		font-size: 0.8em;
	}
	&__list-tag-li {
		display: inline-block;
	}
	&__list-tag-a {
		background: red;
		border-radius: 0.2em;
		display: block;
		color: $col-white;
		padding: 0.5em;
	}
	&__criteria {
		background: $col-white;
		border-bottom: 1px solid #E3E3E3;
		margin-bottom: 3em;
		padding: 1em 0;
		&-select {
			color: $col-criteria-select;
			margin: 0.7em 1em 0 0;
		}
	}
	&__searchbox {
		float: right;
		input {
			margin-bottom: 0;
		}
		input[type=text] {
			background: $col-criteria-search-bg;
			border: 1px solid $col-criteria-search-border;
			color: $col-criteria-select;
			width: 200px;
		}
		input[type=submit] {
			width: auto;
		}
	}
	&__options {
		border: 1px solid $col-content-options-border;
		font-size: 0.9em;
		&-title {
			background: $col-content-options-title-bg;
			font-size: 0.9em;
			font-weight: $weight-black;
			letter-spacing: 0.08em;
			padding: 1em;
			text-transform: uppercase;
		}
		&-li {
			background: $col-white;
			border-top: 1px solid $col-content-options-border;
			&:first-child {
				border-top: none;
			}
		}
		a {
			color: $col-content-options-a;
			display: block;
			padding: 1em;
			&:hover {
				background: $col-content-options-a-bg-hover;
			}
			&:after {
				font-family: FontAwesome;
	   			content: "\f054";
	   			float: right;
			}
		}
	}
}