/* COLOURS - http://chir.ag/projects/name-that-color/
------------------------------------------ */

/* COLOUR NAMES
------------------------------------------ */

$col-white: #fff;

// main coulurs
$col-tundora: #454545;
$col-mine-shaft: #333333;
$col-dove-grey: #666666;
$col-red-damask: #d8544b;
$col-sunglo: #e2766f;
$col-wild-sand: #f4f4f4;
$col-pickled-bluewood: #283a42;

// Links/btns
$col-mantis-light: #82c872;
$col-mantis: #82c872;

// Header colours
$col-outer-space: #2f3c42;

// Content
$col-mercury: #e3e3e3;

// Form
$col-porcelain: #fbfcfc;
$col-silver: #c6c4c4;


/* COLOUR REFERENCES
------------------------------------------ */

// Base elements
$col-body-bg: $col-wild-sand;
$col-standard: $col-dove-grey;
$col-link: $col-mantis;
$col-link-hover: $col-mantis-light;
$col-header: $col-pickled-bluewood;

// Header
$col-header-bg: $col-outer-space;

// Content
$col-content-li-border: $col-mercury;
$col-content-li-view: $col-mantis-light;

// Form
$col-submit-btn-bg: $col-mantis-light;
$col-criteria-search-bg: $col-porcelain;
$col-criteria-search-border: $col-silver;
$col-criteria-select: $col-dove-grey;

// Footer
$col-footer-bg: $col-outer-space;


/* WEIGHTS
------------------------------------------ */

$weight-light: 100;
$weight-regular: 400;
$weight-bold: 600;


/* BASE FONTS
------------------------------------------ */

$base-font-family: "proxima-nova", Arial,"Helvetica Neue",Helvetica,sans-serif;
$base-font-weight: $weight-regular;
$base-font-size: 1em;
$base-line-height: 1.4;


/* HEADER FONTS
------------------------------------------ */

$header-font-family: "proxima-nova", "Arial Black","Arial Bold",Gadget,sans-serif;
	
	
	